@use '../../config/variables'
    
.hero 
    background-image: url('../../../public/imgs/bghero.jpg')
    background-size: cover
    height: 90vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    

h1
    color: #f1f1f1
    font-family: variables.$main-font
    font-size: 2.5em

.neon
    animation: neon 2s alternate infinite


@keyframes neon
    0%
        color: #fff
        text-shadow: 0 0 7px variables.$border-color, 0 0 10px #fff, 0 0 21px #fff

    50%
        color: #fff
        text-shadow: 0 0 7px #fff, 0 0 10px variables.$border-color, 0 0 21px #fff
      
    100%
        color: #fff
        text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px variables.$border-color
       