@use '../../config/variables'

.header
    display: flex
    justify-content: space-around
    align-items: center
    height: 4em
    position: fixed
    width: 100%
    z-index: 1
    transition: 0.3s

.fixed
    opacity: 100%
    height: 3.5em
    transition: 0.3s
    background-color: #010101
    border-bottom: 2px solid variables.$border-color
    box-shadow: 0 2px 3px 0 variables.$border-color